{% extends 'base.html' %}

{% block title %}Add Product{% endblock %}

{% block content %}
<body>
    <div class="container mt-5">
        <h2 class="text-center">Add Product Information</h2>
        <form method="POST" action="/add_product">
            <div class="mb-3">
                <label for="product_name" class="form-label">Product Name</label>
                <input type="text" class="form-control" id="product_name" name="product_name">
            </div>
            <div class="mb-3">
                <label for="outer_size" class="form-label">Outer Size (mm.)</label>
                <input type="text" class="form-control" id="outer_size" name="outer_size">
            </div>
            <div class="mb-3">
                <label for="storage_area" class="form-label">Storage Area</label>
                <input type="text" class="form-control" id="storage_area" name="storage_area">
            </div>
            <div class="mb-3">
                <label for="shelf_space" class="form-label">Shelf Space</label>
                <input type="text" class="form-control" id="shelf_space" name="shelf_space">
            </div>
            <div class="mb-3">
                <label for="customer_name" class="form-label">Customer Name</label>
                <input type="text" class="form-control" id="customer_name" name="customer_name">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
{% endblock %}
